# =========================
# Compiled Object files
# =========================
*.slo
*.lo
*.o
*.obj
*.d

# =========================
# Precompiled Headers
# =========================
*.gch
*.pch

# =========================
# Linker files
# =========================
*.ilk

# =========================
# Debugger Files
# =========================
*.pdb
*.dwo

# =========================
# Compiled Dynamic libraries
# =========================
*.so
*.dylib
*.dll

# =========================
# Compiled Static libraries
# =========================
*.lai
*.la
*.a
*.lib

# =========================
# Executables
# =========================
*.exe
*.out
*.app

# =========================
# Fortran module files
# =========================
*.mod
*.smod

# =========================
# Code::Blocks project files
# =========================
*.depend
*.layout
*.cbp
*.workspace

# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# Backup and temp files
# =========================
*~
.DS_Store
Thumbs.db
